@font-face {
    font-family: 'Round';
    src: url("FredokaOne-Regular.ttf") format("truetype");
}

body {
    margin: 0px;
    padding: 0px;
}
.header {
    font-size: 50px;
    padding: 30px 200px;
    background-color: rgb(39, 38, 38);
    color: rgb(252, 252, 252);
    font-family: 'Round';
}

#popup {
    display: none;
    border: 2px solid;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 50, 50,0.7);
}

#form {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
    border: 2px solid black;
    padding: 45px 20px;
    border-radius: 10px;
    background-color: white;
}

#cut {
    position: absolute;
    top: 5%;
    right: 8%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
}

#cut:hover {
    cursor: pointer;
}

input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(112, 112, 112);
    margin-bottom: 30px;
}

.radios {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.radios input {
    margin: 0px;
}
#addbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 87%;
    right: 10%;
    transition: 0.2s;
}

#addbutton:hover {
    cursor: pointer;
    transform: rotate(90deg);
    box-shadow: 0 0 10px rgb(116, 115, 115);
    transition: 0.2s;
}

.container {
    display: grid;
    margin: 30px 200px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 250px));
    gap: 30px;
}

.card {
    background-image: linear-gradient(325deg, rgb(114, 129, 114),rgb(68, 70, 68));
    position: relative;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(90, 90, 90);
}

.read {
    background-image: linear-gradient(325deg, rgb(1, 156, 1),rgb(55, 88, 11));
}

.name {
    margin-top: 20px;
}


.delete {
    position: absolute;
    right: 10%;
    top: 7%;
    font-size: 22px;
    cursor: pointer;
}

.switch {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: lighter;
    font-size: 14px;
    gap: 5px;
}

.checkbox {
    position: absolute;
    top: 90%;
}
.toggle {
    position : relative ;
    display : inline-block;
    width : 20px;
    height : 10px;
    background-color: rgb(101, 102, 102);
    border-radius: 30px;
    border: 2px solid rgb(255, 253, 253);
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(247, 245, 245);
    transition:  all 0.5s;
}

.checkbox:checked + .toggle::after {
    left : 9.5px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(37, 136, 37);
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}